[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
smbus = "*"
rpi-gpio = "*"
schedule = "*"
peewee = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
main = "python main.py"
sht30_recorder = "python src/sht30_recorder.py"
web_app = "python src/web_app.py"
