[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
smbus = "*"
rpi-gpio = "*"
schedule = "*"
peewee = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
web = "python web/app.py"
install_daemons = "python daemons/install.py"
