[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
smbus = "*"
rpi-gpio = "*"
schedule = "*"
peewee = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
web = "python -m web.app"
sht30_recorder = "python -m daemons.sht30_recorder"
