[Unit]
Description=SHT30 Recorder Service

[Service]
WorkingDirectory={{WORKING_DIRECTORY}}
ExecStart={{EXEC_START}}
User={{USER}}
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
